# Broker
BROKER__HOST=localhost
BROKER__PORT=5672
BROKER__USERNAME=guest
BROKER__PASSWORD=guest
BROKER__QUEUE__NEW_PHOTOS=new-photo
BROKER__QUEUE__CV_RESULT=cv-result

# S3/MinIO
S3__ENDPOINT=http://localhost:9000
S3__ACCESS_KEY=minioadmin
S3__SECRET_KEY=minioadmin
S3__BUCKET=buildwatch
S3__CV_BUCKET=buildwatch-cv
S3__MODELS_PREFIX=models
S3__MODEL_NAME=constr_yolo
S3__MODEL_VERSION=v3

# TEMP-DEBUG: локальный дамп (удалить перед продом)
OUTPUT__ENABLED=false
OUTPUT__DIR=../_cv_debug
